In [1]:
# -*- coding:utf-8 -*-

import numpy as np
import pandas as pd
import sklearn

In [2]:
my_csv = pd.read_csv('/home/zqy/东证期货杯/data_part/con_ext_crd_hd_report_part.csv')

In [3]:
my_csv

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>REPORT_ID</th>
      <th>REPORT_CREATE_TIME</th>
      <th>QUERY_REASON</th>
      <th>QUERY_ORG</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>9410</td>
      <td>2016/9/23 14:17</td>
      <td>贷款审批</td>
      <td>C</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8787</td>
      <td>2016/9/22 12:02</td>
      <td>贷款审批</td>
      <td>C</td>
    </tr>
    <tr>
      <th>2</th>
      <td>24820</td>
      <td>2016/10/13 15:32</td>
      <td>贷款审批</td>
      <td>D</td>
    </tr>
    <tr>
      <th>3</th>
      <td>25708</td>
      <td>2016/10/14 11:20</td>
      <td>贷款审批</td>
      <td>D</td>
    </tr>
    <tr>
      <th>4</th>
      <td>22999</td>
      <td>2016/10/12 13:41</td>
      <td>贷款审批</td>
      <td>D</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
my_csv[:2]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>REPORT_ID</th>
      <th>REPORT_CREATE_TIME</th>
      <th>QUERY_REASON</th>
      <th>QUERY_ORG</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>9410</td>
      <td>2016/9/23 14:17</td>
      <td>贷款审批</td>
      <td>C</td>
    </tr>
    <tr>
      <th>1</th>
      <td>8787</td>
      <td>2016/9/22 12:02</td>
      <td>贷款审批</td>
      <td>C</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
def greeting(name: str) -> str:
    return 'Hello ' + name

In [7]:
greeting('ee')